.about-content {
	.team-picture-holder {
		img {
			height: 30.143em;
			width: 38.786em;
		}
	}

	section.even {
		background-color:#fff;
	}

	section.onyo-leaders {
		background: transparent url(assets/about/secondary-bg-about-page-team-leaders.png) left top / cover no-repeat;
		object-fit: contain;

		h4 {
    		font-size: 1.2em;
    		font-weight: bold;
		}

		ul {
			list-style: none;
			padding:0;
			margin:0;

			li {
				padding: 0 0 0.3em 0;
			}
		}

		.mdl-grid > .mdl-cell {
			text-align: center;
		}
	}

	section.join-us {
		background: transparent url(assets/about/join-us.png) left top / cover no-repeat;
	}
}

form.onyo-form {
	.mdl-textfield {
		width: 100%;
	}

	button {
	    display: block;
	    font-size: 1.285em;
	    font-weight: bold;
	    height: 3.865em;
	    margin: 0 auto;
	    padding: 0.8em 0;
	    width: 16em;
	}
}