/* Responsive settings */
$break-small: 320px;
$break-large: 1200px;

/* Main Setting */
$mainBlue: #2F4472;
$lightBlue: #32AAE4;


/* Styling */
main {
	width: 100%;

	form {
		max-width: 50em;
		margin: 0 auto;
	}
}

/* Start section styling */
.section-header {
	padding: 1.5em 0 1em 0;
	text-align: center;
	margin: 0 0 1em 0;
	span {
		font-weight: bold;
	}
}

.section-secondary-header {
	font-weight: bold;
	font-size: 1.635em;
}

.section-main-message {
	font-size: 1em;
}

section {
	h2 {
		@extend .section-header;
	}
	h3 {
		@extend .section-secondary-header;
	}
	p {
		@extend .section-main-message;
	}
	a.mdl-button--colored  {
	    font-size: 1.2em;
	    padding: 0.5em 2em;
	}
}

section.even {
	background-color:#fff;
	.section-header {
		background: transparent url("assets/section-header-separator-even.gif") bottom center no-repeat;
	}
	h2, h3, p {
		color: $mainBlue;
	}
}

section.odd {
	.section-header {
		background: transparent url("assets/section-header-separator-odd.gif") bottom center no-repeat;
	}
	h2, h3, p {
		color: #fff;
	}
}
/* End section styling */


footer.mdl-mega-footer {
	background-color: $mainBlue;
}

.main-bg.main-home-bg {
  height: 813px;
  object-fit: contain;
}

.main-home-bg {
	background: transparent url("assets/main-bg-home.png") top center no-repeat;
}

.main-text-banner, .main-text-banner * {
	text-align: center;
	font-size: 1.5em;
	line-height: 1em;
	color: #fff;

	.main-message {
		font-size: 1.5em;
		line-height: 1em;
		display: block;
	}
}

.main-text-banner {
    margin-top: 2em;
    min-height: 6em;

    p {
		background-image: none;
		padding-bottom: 0.5em;
    }
}

.home-content {
	.main-text-banner {
		margin-top: 5em;
		min-height: 22em;

		p {
			background: transparent url("assets/main-banner-text-onyo-logo.png") bottom center no-repeat;
			padding-bottom: 2em;
			line-height:2em;
		}
	}

	.main-text-banner, .main-text-banner * {
		.main-message {
			font-size: 1.800em;
		}

		@media screen and (min-width: $break-large) {
			.main-message {
				font-size: 2.800em;
			}
		}
	}	
}

/* Styling Content Block: What is it */
.what-is-it-block {
	color: #2f4472;
	text-align: center;
	padding: 0.5em;
}

/* Styling Content Block: About us */
.secondary-bg {
	min-height: 68.188em;
	object-fit: contain;

	h3 {
		font-size: 2.5em;
	}

	h3 + p {
		font-size: 1.685em;
	}
} 

section.about-us {
	background: transparent url("assets/secondary-bg-about-us.png") left top no-repeat;
}

.mdl-cell.carrers {
	@media screen and (min-width: $break-large) {
		border-left: 1px solid #fff;
		padding-left: 1.5em;
	}

	@media screen and (max-width: $break-small) {
		border-top: 1px solid #fff;
		padding-top: 1.5em;
	}
}

.job-position-description {
	@media screen and (min-width: $break-large) {
		border-left: 1px solid #fff;
		padding-left: 1.5em;
	}

	@media screen and (max-width: $break-small) {
		border-bottom: 1px solid #fff;
		padding-bottom: 1.5em;
	}
}

/* Styling Content Block: How it works */
section.how-it-works {
	background: transparent url("assets/secondary-bg-how-works.png") left top no-repeat;
}
/* Styling Content Block: Contact us */
section.contact-us {
	button.mdl-button{
		font-size:1.2em;
		height: 4em;
		width:14em;
	}
}
/* Styling Block: Footer */
footer {
	* {
		color: #fff;
	}

	h3 {
		text-align: center;
		span {
		    display: block;
		    font-size: 0.5em;
		    font-weight: normal;
		}
	}

	ul, li {
		list-style: outside none none;
	}

	a {
		text-decoration:none;
	}

	a.light-blue {
		color: $lightBlue;
		font-weight: bold;
	}

	div.navigation-block {
		@media screen and (min-width: $break-large) {
			border-right: 1px solid $lightBlue;
		}
	}

	div.contact {
	    display: flex;
	    justify-content: center;
  		align-items: center;
	}

	a.functional-image-onyo-logo {
	    display: flex;
	    height:100%;
	    justify-content: center;
  		align-items: center;	    

	    img {
	    	height:32px;
	    	width:93px;
	    }
	}
}

@import 'about';
@import 'contactus';