/* Basic Responsive settings */
/* Main Setting */
/* Styling */
main {
  width: 100%; }
  main form {
    max-width: 50em;
    margin: 0 auto; }

/* Start section styling */
.section-header, section h2 {
  padding: 1.5em 0 1em 0;
  text-align: center;
  margin: 0 0 1em 0; }
  .section-header span, section h2 span {
    font-weight: bold; }

.section-secondary-header, section h3 {
  font-weight: bold;
  font-size: 1.635em; }

.section-main-message, section p {
  font-size: 1em; }

section {
  background-size: cover; }
  section a.mdl-button--colored {
    font-size: 1.2em;
    padding: 0.5em 2em; }

section.even {
  background-color: #fff; }
  section.even .section-header, section.even h2 {
    background: transparent url("assets/section-header-separator-even.gif") bottom center no-repeat; }
  section.even h2, section.even h3, section.even p {
    color: #2F4472; }

section.odd .section-header, section.odd h2 {
  background: transparent url("assets/section-header-separator-odd.gif") bottom center no-repeat; }
section.odd h2, section.odd h3, section.odd p {
  color: #fff; }

/* End section styling */
footer.mdl-mega-footer {
  background-color: #2F4472; }

.main-bg.main-home-bg {
  height: 813px;
  object-fit: contain; }

.main-home-bg {
  background: transparent url("assets/main-bg-home.png") top center no-repeat; }

.main-text-banner, .main-text-banner * {
  text-align: center;
  font-size: 1.5em;
  line-height: 1em;
  color: #fff; }
  .main-text-banner .main-message, .main-text-banner * .main-message {
    font-size: 1.5em;
    line-height: 1em;
    display: block; }

.main-text-banner {
  margin-top: 2em;
  min-height: 6em; }
  .main-text-banner p {
    background-image: none;
    padding-bottom: 0.5em; }

.home-content .main-text-banner {
  margin-top: 5em;
  min-height: 22em; }
  .home-content .main-text-banner p {
    background: transparent url("assets/main-banner-text-onyo-logo.png") bottom center no-repeat;
    padding-bottom: 2em;
    line-height: 2em; }
.home-content .main-text-banner .main-message, .home-content .main-text-banner * .main-message {
  font-size: 1.800em; }
@media screen and (min-width: 1200px) {
  .home-content .main-text-banner .main-message, .home-content .main-text-banner * .main-message {
    font-size: 2.800em; } }

/* Styling Content Block: What is it */
.what-is-it-block {
  color: #2f4472;
  text-align: center;
  padding: 0.5em; }

/* Styling Content Block: About us */
.secondary-bg {
  min-height: 68.188em;
  object-fit: contain; }
  .secondary-bg h3 {
    font-size: 2.5em; }
  .secondary-bg h3 + p {
    font-size: 1.685em; }

section.about-us {
  background: transparent url("assets/secondary-bg-about-us.png") left top/cover no-repeat; }

@media screen and (min-width: 1200px) {
  .mdl-cell.carrers {
    border-left: 1px solid #fff;
    padding-left: 1.5em; } }
@media screen and (max-width: 320px) {
  .mdl-cell.carrers {
    border-top: 1px solid #fff;
    padding-top: 1.5em; } }

@media screen and (min-width: 1200px) {
  .job-position-description {
    border-left: 1px solid #fff;
    padding-left: 1.5em; } }
@media screen and (max-width: 320px) {
  .job-position-description {
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5em; } }

/* Styling Content Block: How it works */
section.how-it-works {
  background: transparent url("assets/secondary-bg-how-works.png") left top/cover no-repeat; }

/* Styling Content Block: Contact us */
section.contact-us button.mdl-button {
  font-size: 1.2em;
  height: 4em;
  width: 14em; }

/* Styling Block: Footer */
footer * {
  color: #fff; }
footer h3 {
  text-align: center; }
  footer h3 span {
    display: block;
    font-size: 0.5em;
    font-weight: normal; }
footer ul, footer li {
  list-style: outside none none; }
footer a {
  text-decoration: none; }
footer a.light-blue {
  color: #32AAE4;
  font-weight: bold; }
@media screen and (min-width: 1200px) {
  footer div.navigation-block {
    border-right: 1px solid #32AAE4; } }
footer div.contact {
  display: flex;
  justify-content: center;
  align-items: center; }
footer a.functional-image-onyo-logo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center; }
  footer a.functional-image-onyo-logo img {
    height: 32px;
    width: 93px; }

.about-content .team-picture-holder img {
  height: 30.143em;
  width: 38.786em; }
.about-content section.even {
  background-color: #fff; }
.about-content section.onyo-leaders {
  background: transparent url(assets/about/secondary-bg-about-page-team-leaders.png) left top/cover no-repeat;
  object-fit: contain; }
  .about-content section.onyo-leaders h4 {
    font-size: 1.2em;
    font-weight: bold; }
  .about-content section.onyo-leaders ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .about-content section.onyo-leaders ul li {
      padding: 0 0 0.3em 0; }
  .about-content section.onyo-leaders .mdl-grid > .mdl-cell {
    text-align: center; }
.about-content section.join-us {
  background: transparent url(assets/about/join-us.png) left top/cover no-repeat; }

form.onyo-form .mdl-textfield {
  width: 100%; }
form.onyo-form button {
  display: block;
  font-size: 1.285em;
  font-weight: bold;
  height: 3.865em;
  margin: 0 auto;
  padding: 0.8em 0;
  width: 16em; }

.contact-us-wrapper {
  background-color: #fff;
  color: #2F4472; }
  .contact-us-wrapper .contact h3 {
    text-align: center; }
    .contact-us-wrapper .contact h3 span {
      display: block;
      font-size: 0.465em; }
  .contact-us-wrapper form .mdl-textfield {
    width: 28em; }
  .contact-us-wrapper form button {
    display: block;
    font-size: 1.285em;
    font-weight: bold;
    height: 3.865em;
    margin: 0 auto;
    padding: 0.8em 0;
    width: 16em; }
  .contact-us-wrapper .mdl-cell:nth-child(2) p {
    text-align: center;
    font-size: 2em;
    padding: 0 2em;
    line-height: 1.6em; }
  .contact-us-wrapper .mdl-cell:nth-child(2) a {
    background-color: #32AAE4;
    display: block;
    margin: 0 auto;
    padding: 0.8em 0;
    width: 16em;
    font-size: 1.285em;
    font-weight: bold; }

.contactuc-content + footer {
  margin-top: -8px; }

@media screen and (min-width: 1200px) {
  .contact-us-wrapper {
    padding: 8em 0; }
    .contact-us-wrapper form {
      margin-right: 1em;
      border-right: 0.063em solid #2F4472; } }
.restaurants-content .main-home-bg {
  background: transparent url(assets/restaurants/main-bg-restaurants.png) left top/cover; }
.restaurants-content .main-text-banner {
  margin-top: 5em;
  min-height: 22em; }
  .restaurants-content .main-text-banner p {
    background: transparent url("assets/main-banner-text-onyo-logo.png") bottom center no-repeat;
    padding-bottom: 2em;
    line-height: 2em; }
.restaurants-content .main-text-banner .main-message, .restaurants-content .main-text-banner * .main-message {
  font-size: 1.800em; }
@media screen and (min-width: 1200px) {
  .restaurants-content .main-text-banner .main-message, .restaurants-content .main-text-banner * .main-message {
    font-size: 2.800em; } }
.restaurants-content .how-it-works {
  background: transparent url(assets/restaurants/secondary-bg-how-it-works.png) left top/cover no-repeat; }
.restaurants-content .contact-us {
  background-color: #3face4; }
  .restaurants-content .contact-us h2 > span {
    display: block; }
  .restaurants-content .contact-us .mdl-textfield__input {
    border-color: -moz-use-text-color -moz-use-text-color rgba(255, 255, 255, 0.33); }

.bubble {
  position: relative;
  margin: 0 auto; }
  .bubble .round-message {
    border-radius: 50%;
    width: auto;
    padding-bottom: 100%;
    background: white;
    border: 1px solid #32AAE4; }
    .bubble .round-message p {
      display: block;
      position: absolute;
      padding: 20% 10%;
      width: auto;
      font-size: 1.485em;
      text-align: center;
      box-sizing: border-box;
      margin: 0; }
  .bubble .round-message:before {
    font-size: 8em;
    font-weight: bold;
    left: 0.3em;
    margin: 0 -2em -5em 0;
    position: absolute;
    top: 0; }

.company-purpose .mdl-grid .mdl-cell:first-child .round-message:before {
  content: "1"; }
.company-purpose .mdl-grid .mdl-cell:first-child .bubble {
  width: 21em;
  height: 21em; }
.company-purpose .mdl-grid .mdl-cell:first-child + .mdl-cell .round-message:before {
  content: "2"; }
.company-purpose .mdl-grid .mdl-cell:first-child + .mdl-cell .bubble {
  width: 20em;
  height: 20em; }
  .company-purpose .mdl-grid .mdl-cell:first-child + .mdl-cell .bubble .round-message p {
    padding: 28% 10%; }
.company-purpose .mdl-grid .mdl-cell:last-child .round-message:before {
  content: "3"; }
.company-purpose .mdl-grid .mdl-cell:last-child .bubble {
  width: 15em;
  height: 15em; }
  .company-purpose .mdl-grid .mdl-cell:last-child .bubble .round-message p {
    padding: 28% 10%; }

.onyo-slider {
  border: 2px solid #000; }
  .onyo-slider .onyo-slider-wrapper {
    display: flex;
    overflow-x: auto; }
    .onyo-slider .onyo-slider-wrapper > div {
      flex: 0 0 auto; }

/*# sourceMappingURL=main.css.map */
