@import 'reset';
body,
html
{
    color: #494949;
    background-color: #fff;
}

header
{
    padding: 15px;

    text-align: center;

    background-color: #2f4472;
    img
    {
        max-width: 100px;
    }
}
.container
{
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px 0;
    .all-company
    {
        ul
        {
            display: none;

            margin-top: 13px;
            li
            {
                padding: 7px;

                cursor: pointer;

                border-top: 1px solid;
                &:first-child
                {
                    border: none;
                }
                &:hover
                {
                    background-color: #f2f2f2;
                }
                b
                {
                    position: relative;

                    float: right;

                    padding-left: 20px;
                    &.online,
                    &.offline
                    {
                        &:before
                        {
                            position: absolute;
                            top: 4px;
                            left: 0;

                            width: 17px;
                            height: 17px;

                            content: '';

                            border-radius: 50%;
                        }
                    }
                    &.online:before
                    {
                        background-color: #58924d;
                    }
                    &.offline:before
                    {
                        background-color: #c40a25;
                    }
                }
            }
        }
    }
}

footer
{
    font-size: .9em;

    margin-top: 20px;

    text-align: center;

    color: #fff;
    background: #2f4472;
    a
    {
        font-weight: bold;

        color: #fff;
    }
    span
    {
        &.right
        {
            float: right;
        }
        &.left
        {
            float: left;
        }
    }
    ul li
    {
        display: inline-block;

        margin: 0 20px;
    }
}
